body{
    margin: 0;
}

.about1{
    justify-content: space-between;
    color: green !important;
}
#about2{
    padding-left: 200px;
    justify-content: space-between;
}
.btn1{
    color: #fff;
    border: 2px solid white;
    border-radius: 7px;
    height: 50px;
}
.waste1{
    padding-top: 20vh;
    font-size: 70px;
    color: green;
}
.section1{
    height: 700px;
}
.waste2{
    color: #00000066;
    font-size: 22px;
    line-height: 30px;
}
.manWaste{
    position: absolute;
    left: 40vw;
    top: 20vh;
    @media screen and (max-width: 996px) {
        display: none;
    }
}

.section2{

    background-color:#EEEEEE;
  
}
.patner{
    color: green;
    font-size: 25px;
    @media screen and (max-width: 996px) {
       
        padding-top: 120px ;
       
    } 
}
.sponsors{
    justify-content: flex-end;
    display: table;
    @media screen and (max-width: 996px) {
       justify-content: space-around;
        padding-top: 40px ;
       
    } 
}
